# ----- Magento -----
MAGENTO_DOMAIN=mysite.local
MAGE_MODE=developer

# ----- MySQL (Tier 3) -----
MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=change_me

# ----- Redis (Tier 3) -----
REDIS_HOST=redis

# ----- OpenSearch (Tier 3) -----
ES_HOST=opensearch

# ----- RabbitMQ (Tier 3) -----
RABBITMQ_DEFAULT_USER=magento
RABBITMQ_DEFAULT_PASS=change_me
