# Magento
MAGENTO_DOMAIN=mysite.local

# MySQL
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=change_me

# Redis
REDIS_HOST=redis

# Elasticsearch
ES_HOST=elasticsearch

# RabbitMQ
RABBITMQ_DEFAULT_USER=magento
RABBITMQ_DEFAULT_PASS=change_me
